:root {
    --primary-color: #396CA0;
    --secondary-color: #B0C9E1;
    --accent-color1: #71563d;
    --accent-color2: #F5EEE6;
    --background-color: #71563d83;
    /* max-width: flex; */
}
/* Fonts */
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
/* Styles */
body {
    background-color: var(--primary-color);
}
nav a {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    text-decoration: none;
    color: var(--accent-color2);
    margin: 25px;
}
h2 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: var(--secondary-color)
}
p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 20px;
    padding: 10px;
}
/* Flex and Grid */
header{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--accent-color1);
    margin: 10px 0px;
    padding: 10px 50px;
    border-radius: 10px;
}
header img {
    border-radius: 20px;
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
main section:first-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--background-color);
    border-radius: 10px;
    margin: 10px 0px;
}
main section:first-of-type h2 {
    grid-column: 1/4;
}
main section:first-of-type img {
    margin-bottom: 20px;
    border-radius: 10px;
}
main section:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(5, 205px);
    border-radius: 10px;
    padding-left: 25px;
}
main section h2 {
    grid-column: 1/6
}
main section:last-of-type {
    background-color: var(--background-color);
    margin-bottom: 10px;
}
main section:last-of-type img {
    max-width: 150px;
    border-radius: 10px;
}
main section:last-of-type figcaption {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: smaller;
    font-style: normal;
}
footer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: var(--background-color);
    border-radius: 10px;
}
footer p {
    display:flex;
    justify-content: space-around;
    align-items: center;
}
footer nav {
    display:flex;
    justify-content: space-around;
    align-items: center;
}
/* Classes */
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height:auto;
    border-radius: 10px;
}
.hero h1 {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    background-color: #71563d8a;
    color: var(--secondary-color);
}
.hero article {
    position: absolute;
    top: 70%;
    height: 110px;
    left: 10%;
    right: 20%;
    background-color: #71563d8a;
    border-radius: 10px;
}
.hero article p {
    padding-bottom: 50px;
    padding-right: 100px;
    margin: 15px;
    width: 78%;
    color: var(--accent-color2);
}
.hero article img {
    margin: 5px;
    height: 100px;
    width: auto;
    float: right;
}
.sociallinks a img {
    width: 2rem;
}