:root {
    --blue: rgb(19, 36, 133);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */

.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kanit-medium {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .kanit-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

/* Styles */

body {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-size: medium;
    color: black;

}

header {
    margin: 0 auto;
    width: 700px;
}

h1 {
    margin: 1rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: var(--blue);
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: lightgrey;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    font-weight: bold;
    color: var(--blue);
}

label, input, button, select, textarea {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

label {
    text-align: center;
    padding-right: 1rem;
    margin-bottom: 0.5rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.3rem;
}

button:hover {
    background-color: darkgreen;
}

footer {
    margin: 1rem auto;
    width: 650px;
    text-align: center;
    font-size: 0.8rem;
    color: darkgrey;
    border-top: 1px solid darkgrey;
    padding: 0.75rem;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}