:root {
    --background-color: rgb(89, 131, 128);
    --border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: large;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 10px;
    margin: 1rem;
}
/* here is a comment */
nav a{
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: var(--background-color);
    padding: 1rem;
}
img {
    width: 150px;
    margin: 10px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    margin-left: 1rem;
}
main {
    max-width: 800px;
}
main img {
    float: right;
    width: 200px;
    height: auto;
    margin: 0 0 1rem 1rem;
}
ul {
    border-radius: 10px;
}
aside {
    width: 400px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}
aside h2 {
    position: absolute;
    top: 35px;
    left: 120px;
    color: black;
}
aside img {
    width: 300px;
    height: auto;
    text-align: center;
}
footer {
    margin-top: 10px;
    border-top: 2px solid rgb(89, 131, 128);
    text-align: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: var(--background-color);
    color: white;
}
.indent {
    padding-left: 2rem;
}