:root {
    --background-color: rgb(89, 131, 128);
    --border: 1px solid rgba(0, 0, 0, 0.2)
}
nav {
    background-color: var(--background-color);
    padding: 10px;
}
/* here is a comment */
nav a{
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: var(--background-color);
}
img {
    width: 150px;
    margin: 10px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
main {
    max-width: 800px;
}
aside {
    width: 400px;
    margin: 10px;
    border: var(--border);
    border-radius: 10px;
    padding: 5px;
    background-color: var(--background-color);
    color: white;
}
aside img {
    width: 200px;
    height: auto;
}
main img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 10px;
    border-top: 2px solid rgb(89, 131, 128);
    text-align: center;
}